  <reports>
    <title><%= @report_title %></title>
    <email_to><%= @report_email_to %></email_to>
    <%- if defined?(@report_group) -%>
    <group><%= @report_group %></group>
    <%- end -%>
    <%- if defined?(@report_category) -%>
    <category><%= @report_category %></category>
    <%- end -%>
    <%- if defined?(@report_rule) -%>
    <rule><%= @report_rule %></rule>
    <%- end -%>
    <%- if defined?(@report_level) -%>
    <level><%= @report_level %></level>
    <%- end -%>
    <%- if defined?(@report_location) -%>
    <location><%= @report_location %></location>
    <%- end -%>
    <%- if defined?(@report_srcip) -%>
    <srcip><%= @report_srcip %><srcip/>
    <%- end -%>
    <%- if defined?(@report_user) -%>
    <user><%= @report_user %></user>
    <%- end -%>
    <%- if defined?(@report_showlogs) -%>
    <showlogs><%= @report_showlogs %></showlogs>
    <%- end -%>
  </reports>
